* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

.footer {
    background-color: #e5e5e5;
    padding: 0.5em;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation {
   
    width: 20vw;
    float: left;

    padding: 0.5em;
}

.section {
 
    float: left;
    flex-direction: column;
    padding: 0.5em;
    font-size: 1.25em;
}

.news {
    width: 20%;
    margin-right: auto;

    float: left;
    flex-direction: column;
    padding: 0.5em;
    flex-grow: 1;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.nav-list {
    padding: 0;
    list-style: none;
}

.nav-list-item {
    background-color: #808080;
    color: white;
    height: 2em;
    line-height: 2em;
    margin-bottom: 0.5em;
}

.nav-list-link {
    width: 100%;
    display: inline-block;
    padding: 0 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

a:link {
    color: white;
}

.main {
    flex-grow: 1;
    display: flex;
}

.header {
    text-align: center;
    background: linear-gradient(60deg, red, orange);
    color: white;
}

img {
    max-width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.nav-sec {
    width: 80%;
    display: flex;
}

@media screen and (max-width: 599px) {
    .main {
        flex-direction: column;
    }
    .navigation {
        width: 100%;
    }
    .section {
        width: 100%;
    }
    .news {
        width: 100%;
    }
    .nav-sec {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width: 600px) and ( max-width: 1199px) {
    .main {
        flex-direction: column;
    }
    .navigation {
        width: 20%;
    }
    .section {
        width: 80%;
    }
    .news {
        width: 100%;
    }
    .nav-sec {
        width: 100%;
    }
}