
/*
* {
    box-sizing: border-box;
}
*/
header {
    display: flex;
    justify-content: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-grow: 1;
    min-width: 300px;
    flex-basis: 300px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
}