nav {
    height: 40px;
    position: absolute;
}

.header {
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

ul {
    height: 40px;
    margin: 0;
}

li {
    height: 40px;
    float: left;
    color: white;
    margin-left: 16px;
    line-height: 2.45;
    list-style-type: none;
}


.content {
    background-color: beige;
    height: 5000px;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}

.ear {
    width: 40px;
    height: 60px;
    background-color: brown;
}

.ear_left {
    position: relative;
    left: -40px;
    top: -120px;
}

.ear_right {
    position: relative;
    left: 200px;
    top: -60px;
}

.eye {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    top: 80px;
    background-color: grey;
}

.eye_left {
    left: 40px;
}

.eye_right {
    right: 40px;
}